<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ECS 171 Project - HTML Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container">
    <h1>Data Input Form</h1>

    <form method="POST" action="/predict" class="form-inline">
        <!--
            NOTE: For each feature, create a dropdown like below. set "value" field to the character equivalent
            (refer to the markdown feature tables in project.ipynb). This is because the model.py imports the dataset as is,
            which has character/alphabet-based data points.
        -->
        <div class="form-group">
       
            <!-- cap-shape --> 
            <div class="row">
                <div class="col-3">
                    <label for="cap-shape" class="form-label">Cap Shape: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="cap-shape" name="cap-shape" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="b">Bell</option>
                        <option value="c">Conical</option>
                        <option value="x">Convex</option>
                        <option value="f">Flat</option>
                        <option value="k">Knobbed</option>
                        <option value="s">Sunken</option>
                    </select>
                </div>
            </div>

            <!-- cap-surface -->
            <div class="row">
                <div class="col-3">
                    <label for="cap-surface" class="form-label">Cap Surface: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="cap-surface" name="cap-surface" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="f">Fibrous</option>
                        <option value="g">Grooves</option>
                        <option value="y">Scaly</option>
                        <option value="s">Smooth</option>
                    </select>
                </div>
            </div>

            <!-- cap-color -->
            <div class="row">
                <div class="col-3">
                    <label for="cap-color" class="form-label">Cap Color: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="cap-color" name="cap-color" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="n">Brown</option>
                        <option value="b">Buff</option>
                        <option value="c">Cinnamon</option>
                        <option value="g">Gray</option>
                        <option value="r">Green</option>
                        <option value="p">Pink</option>
                        <option value="u">Purple</option>
                        <option value="e">Red</option>
                        <option value="w">White</option>
                        <option value="y">Yellow</option>
                    </select>
                </div>
            </div>
        

            <!-- gill-spacing -->
            <div class="row">
                <div class="col-3">
                    <label for="gill-spacing" class="form-label">Gill Spacing: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="gill-spacing" name="gill-spacing" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="c">Close</option>
                        <option value="w">Crowded</option>
                        <option value="d">Distant</option>
                    </select>
                </div>
            </div>

            <!-- gill-size -->
            <div class="row">
                <div class="col-3">
                    <label for="gill-size" class="form-label">Gill Size: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="gill-size" name="gill-size" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="b">Broad</option>
                        <option value="n">Narrow</option>
                    </select>
                </div>
            </div>

            <!-- gill-color -->
            <div class="row">
                <div class="col-3">
                    <label for="gill-color" class="form-label">Gill Color: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="gill-color" name="gill-color" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="k">Black</option>
                        <option value="n">Brown</option>
                        <option value="b">Buff</option>
                        <option value="h">Chocolate</option>
                        <option value="g">Gray</option>
                        <option value="r">Green</option>
                        <option value="o">Orange</option>
                        <option value="p">Pink</option>
                        <option value="u">Purple</option>
                        <option value="e">Red</option>
                        <option value="w">White</option>
                        <option value="y">Yellow</option>
                    </select>
                </div>
            </div>

            <!-- stalk-surface-above-ring -->
            <div class="row">
                <div class="col-3">
                    <label for="stalk-surface-above-ring" class="form-label">Stalk Surface Above Ring: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="stalk-surface-above-ring" name="stalk-surface-above-ring" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="f">Fibrous</option>
                        <option value="y">Scaly</option>
                        <option value="k">Silky</option>
                        <option value="s">Smooth</option>
                    </select>
                </div>
            </div>

            <!-- stalk-color-above-ring -->
            <div class="row">
                <div class="col-3">
                    <label for="stalk-color-above-ring" class="form-label">Stalk Color Above Ring: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="stalk-color-above-ring" name="stalk-color-above-ring" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="n">Brown</option>
                        <option value="b">Buff</option>
                        <option value="c">Cinnamon</option>
                        <option value="g">Gray</option>
                        <option value="o">Orange</option>
                        <option value="p">Pink</option>
                        <option value="e">Red</option>
                        <option value="w">White</option>
                        <option value="y">Yellow</option>
                    </select>
                </div>
            </div>

            <!-- ring-type -->
            <div class="row">
                <div class="col-3">
                    <label for="ring-type" class="form-label">Ring Type: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="ring-type" name="ring-type" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="c">Cobwebby</option>
                        <option value="e">Evanescent</option>
                        <option value="f">Flaring</option>
                        <option value="l">Large</option>
                        <option value="n">None</option>
                        <option value="p">Pendant</option>
                        <option value="s">Heathing</option>
                        <option value="z">Zone</option>
                    </select>
                </div>
            </div>

            <!-- bruises -->
            <div class="row">
                <div class="col-3">
                    <label for="bruises" class="form-label">Bruises: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="bruises" name="bruises" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                    </select>
                </div>
            </div>

            <!-- odor -->
            <div class="row">
                <div class="col-3">
                    <label for="odor" class="form-label">Odor: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="odor" name="odor" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="a">Almond</option>
                        <option value="l">Anise</option>
                        <option value="c">Creosote</option>
                        <option value="y">Fishy</option>
                        <option value="f">Foul</option>
                        <option value="m">Musty</option>
                        <option value="n">None</option>
                        <option value="p">Pungent</option>
                        <option value="s">Spicy</option>
                    </select>
                </div>
            </div>

            <!-- spore-print-color -->
            <div class="row">
                <div class="col-3">
                    <label for="spore-print-color" class="form-label">Spore Print Color: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="spore-print-color" name="spore-print-color" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="k">Black</option>
                        <option value="n">Brown</option>
                        <option value="b">Buff</option>
                        <option value="h">Chocolate</option>
                        <option value="r">Green</option>
                        <option value="o">Orange</option>
                        <option value="u">Purple</option>
                        <option value="w">White</option>
                        <option value="y">Yellow</option>
                    </select>
                </div>
            </div>

            <!-- population -->
            <div class="row">
                <div class="col-3">
                    <label for="population" class="form-label">Population: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="population" name="population" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="a">Abundant</option>
                        <option value="c">Clustered</option>
                        <option value="n">Numerous</option>
                        <option value="s">Scattered</option>
                        <option value="v">Several</option>
                        <option value="y">Solitary</option>
                    </select>
                </div>
            </div>

            <!-- habitat -->
            <div class="row">
                <div class="col-3">
                    <label for="habitat" class="form-label">Habitat: </label>
                </div>
                <div class="col-4">
                    <select class="form-select form-select-sm" id="habitat" name="habitat" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="g">Grasses</option>
                        <option value="l">Leaves</option>
                        <option value="m">Meadows</option>
                        <option value="p">Paths</option>
                        <option value="u">Urban</option>
                        <option value="w">Waste</option>
                        <option value="d">Woods</option>
                    </select>
                </div>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Predict</button>
        
    </form>
</body>
</html>